<%= form_with(model: vehicle_brand, local: true) do |form| %>
  <% if vehicle_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_brand.errors.count, "error") %> prohibited this vehicle_brand from being saved:</h2>

      <ul>
      <% vehicle_brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
