<p id="notice"><%= notice %></p>

<h1>Vehicle Brands</h1>

<%= search_form_for @search do |f| %>

  # Search if the name field contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.label :dibuat_lebih_dari %>
  <%= f.date_field :created_at_gt %>
  <%= f.label :kurang_dari %>
  <%= f.date_field :created_at_lt %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>logo</th>
      <th>created</th>
      <th>update</th>
      <th>selisih</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_brands.each do |vehicle_brand| %>
      <tr>
        <td><%= vehicle_brand.name %></td>
        <% if vehicle_brand.image.present? %>
        <td><a href="<%=vehicle_brand.image_url%>" target="_blank">
          <%= image_tag(vehicle_brand.image_url, style:"height:40px; width:40px;")%>
        </a></td>
        <% else %>
          <td>-</td>  
        <% end %>
        <td><%= vehicle_brand.created_at.strftime("%d-%B-%Y") %></td>
        <td><%= vehicle_brand.updated_at.strftime("%d-%B-%Y") %></td>
        <td><%= TimeDifference.between(vehicle_brand.created_at, Time.now).humanize %></td>
        <td><%= link_to 'Show', vehicle_brand %></td>
        <td><%= link_to 'Edit', edit_vehicle_brand_path(vehicle_brand), target: :_blank %></td>
        <td><%= link_to 'Destroy', vehicle_brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @vehicle_brands %>

<%= link_to 'New Vehicle Brand', new_vehicle_brand_path %>
<br/>
<% if params[:q] %>
<%= link_to "export csv", print_index_path(q: {created_at_gt: params[:q]["created_at_gt"], created_at_lt: params[:q]["created_at_lt"], name_cont: params[:q]["name_cont"]}, format:"csv")%>
<% else %>
<%= link_to "export csv", print_index_path(format:"csv")%>
<% end %>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>created</th>
    </tr>
  </thead>

  <tbody>

    <% @api_example['result'].each do |area| %> 
      <tr> 
      <td> <%= area['code'] %> </td>
      <td> <%= area['name'] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

