<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if  user.role_ids.present? %>
          <% Role.where(id:[user.role_ids]).each do |role|%>
          <td><%= role.name %></td>
          <% end %>
        <% else %>
        <td>-</td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "home", root_path %>
