<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "role", roles_path %>
<%= link_to "user", users_path %>
<%= link_to "vehicle brand", vehicle_brands_path %>
<%= link_to "vehicle type", vehicle_types_path %>
