<%= form_with(model: vehicle_type, local: true) do |form| %>
  <% if vehicle_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_type.errors.count, "error") %> prohibited this vehicle_type from being saved:</h2>

      <ul>
      <% vehicle_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :vehicle_brand_id %>
    <%= form.text_field :vehicle_brand_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
