<!DOCTYPE html>
<html>
  <head>
    <title>Rental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    Sign In As <%= current_user.name %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% end %>  
    <%= yield %>
  </body>
</html>
